.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background: linear-gradient(63.37deg, #b61c36 0%, #c92e78 99.72%);
  font-family: "Inter", sans-serif;
  padding: 30px;
}

/*------box----------*/

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 950px;
  height: auto;

  background-color: #d9d9d9;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

/*------header_box----------*/

.header_box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100px;

  background-color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 1s;
}

.header_box h1 {
  color: white;
  font-size: 40px;
  transition: 1s;
}

/*------form----------*/

.form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.textbox input {
  font-size: 20px;
  background-color: #c1c1c1;
  color: #2b2b2b;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  width: 370px;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 1s;
}

.textbox input::placeholder {
  color: rgb(99, 99, 99);
}

.address {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.address input {
  font-size: 20px;
  background-color: #c1c1c1;
  color: #2b2b2b;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  outline: none;
}

.address input::placeholder {
  color: rgb(99, 99, 99);
}
.form h3 {
  color: #3a3a3a;
  margin: 20px;
  transition: 1s;
}
.bolean {
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.bolean input {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.bolean label {
  font-size: 20px;
  margin: 10px;
  margin-left: 0;
  color: #3a3a3a;
  transition: 1s;
}

.textarea {
  display: flex;
  justify-content: center;
  width: 100%;
}

.textarea textarea {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background-color: #c1c1c1;
  color: #2b2b2b;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  resize: none;
  margin: 10px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 1s;
}

.textarea textarea::placeholder {
  color: rgb(99, 99, 99);
}

.form button {
  width: 140px;
  height: 44px;
  color: white;

  background: linear-gradient(90deg, #ff4e6b 0%, #c31c38 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  margin: 20px;
  margin-bottom: 10px;
  transition: 1s;
}

.form button:hover {
  background: linear-gradient(90deg, #c31c38 0%, #ff4e6b 100%);
  cursor: pointer;
}

/*----------------*/

.textbox span {
  margin-left: 18px;
  color: red;
  font-size: 14px;
}

.firstname {
  display: flex;
  flex-direction: column;
}

.lastname {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
}

.mobile {
  display: flex;
  flex-direction: column;
}

.address span {
  margin-left: 18px;
  color: red;
  font-size: 14px;
}

.textarea {
  display: flex;
  flex-direction: column;
}
.textarea span {
  margin-left: 18px;
  color: red;
  font-size: 14px;
}
